In [1]:
# Logistic Regression

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing DataSet
from google.colab import drive
dataset=pd.read_csv('/content/customer_Data.csv')
dataset.head(10)

    User_ID  Gender  Age  P_Code  C_Order
0  15793813       1   31   89000        0
1  15694395       1   24   32000        0
2  15764195       1   18   44000        0
3  15744919       1   29   83000        0
4  15671655       1   35   23000        0
5  15654901       1   27   58000        0
6  15649136       1   24   55000        0
7  15775562       1   23   48000        0
8  15807481       0   28   79000        0
9  15726358       1   24   27000        0

In [4]:
X = dataset.iloc[:, [0,1,2,3]].values
y = dataset.iloc[:, -1].values
print(X)
print(y)

[[15793813        1       31    89000]
 [15694395        1       24    32000]
 [15764195        1       18    44000]
 [15744919        1       29    83000]
 [15671655        1       35    23000]
 [15654901        1       27    58000]
 [15649136        1       24    55000]
 [15775562        1       23    48000]
 [15807481        0       28    79000]
 [15726358        1       24    27000]
 [15595228        1       20    23000]
 [15782530        1       33   113000]
 [15592877        0       32    18000]
 [15651983        0       34   112000]
 [15746737        0       18    52000]
 [15774179        1       22    27000]
 [15667265        1       28    87000]
 [15655123        1       26    17000]
 [15595917        0       30    80000]
 [15744279        0       32   100000]
 [15670619        0       25    90000]
 [15599533        1       37    33000]
 [15757837        0       35    38000]
 [15697574        1       33    69000]
 [15578738        1       18    86000]
 [15762228        1       22    55000]
 [15614827        1       35    71000]
 [15789815        0       29   148000]
 [15579781        1       29    47000]
 [15587013        0       21    88000]
 [15570932        0       34   115000]
 [15794661        1       26   118000]
 [15685576        0       26    16000]
 [15774727        1       31    71000]
 [15694288        1       32   117000]
 [15603319        0       33    43000]
 [15759066        1       33    60000]
 [15715160        0       28    32000]
 [15708228        0       35    22000]
 [15628523        0       35    39000]
 [15708196        0       49    74000]
 [15735549        1       39   134000]
 [15809347        1       41    71000]
 [15660866        1       58   101000]
 [15766609        1       47    47000]
 [15654230        1       55   130000]
 [15794566        1       52   114000]
 [15800890        1       40   142000]
 [15697424        1       46    22000]
 [15724536        1       48    96000]
 [15735878        0       52   150000]
 [15707596        1       59    42000]
 [15657163        0       35    58000]
 [15622478        0       47    43000]
 [15779529        1       60   108000]
 [15636023        0       49    65000]
 [15582066        0       40    78000]
 [15666675        1       46    96000]
 [15732987        0       59   143000]
 [15789432        1       41    80000]
 [15663161        0       35    91000]
 [15694879        0       37   144000]
 [15593715        0       60   102000]
 [15575002        1       35    60000]
 [15622171        0       37    53000]
 [15795224        1       36   126000]
 [15685346        0       56   133000]
 [15691808        1       40    72000]
 [15721007        1       42    80000]
 [15794253        1       35   147000]
 [15694453        0       39    42000]
 [15813113        0       40   107000]
 [15614187        0       49    86000]
 [15619407        1       38   112000]
 [15646227        0       46    79000]
 [15660541        0       40    57000]
 [15753874        1       37    80000]
 [15617877        1       46    82000]
 [15772073        1       53   143000]
 [15701537        0       42   149000]
 [15736228        0       38    59000]
 [15780572        1       50    88000]
 [15769596        1       56   104000]
 [15586996        1       41    72000]
 [15722061        1       51   146000]
 [15638003        1       35    50000]
 [15775590        1       57   122000]
 [15730688        0       41    52000]
 [15753102        1       35    97000]
 [15810075        1       44    39000]
 [15723373        0       37    52000]
 [15795298        1       48   134000]
 [15584320        1       37   146000]
 [15724161        1       50    44000]
 [15750056        1       52    90000]
 [15609637        1       41    72000]
 [15794493        0       40    57000]
 [15569641        1       58    95000]
 [15815236        1       45   131000]
 [15811177        1       35    77000]
 [15680587        0       36   144000]
 [15672821        1       55   125000]
 [15767681        1       35    72000]
 [15600379        0       48    90000]
 [15801336        1       42   108000]
 [15721592        0       40    75000]
 [15581282        0       37    74000]
 [15746203        1       47   144000]
 [15583137        0       40    61000]
 [15680752        1       43   133000]
 [15688172        1       59    76000]
 [15791373        0       60    42000]
 [15589449        0       39   106000]
 [15692819        1       57    26000]
 [15727467        0       57    74000]
 [15734312        0       38    71000]
 [15764604        0       49    88000]]
[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 0 0 1 1 0 1 1 0 1 1 0
 1 0 0 0 1 1 0 1 1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 1
 1 1 1 1 0 1]

In [6]:
# Splitting the dataset into Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:

# Fitting Logistic Regression to the training set
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
# Predicting the Test set results
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[17  1]
 [ 0 12]]

In [10]:
# Finding accuracy
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.9666666666666667

In [11]:
# Finding recall
from sklearn.metrics import recall_score
recall=recall_score(y_test,y_pred,average="binary")
print(recall)

1.0

In [12]:
# Finding precision
from sklearn.metrics import precision_score
precision=precision_score(y_test,y_pred,average="binary")
print(precision)

0.9230769230769231

In [13]:
# Finding F1 score
from sklearn.metrics import f1_score
f1Score=f1_score(y_test,y_pred,average="binary")
print(f1Score)

0.9600000000000001